:root {
    --primary-text-color: #757575;
    --background-color-main: #ffffff;
    --background-color-secondary: #2F303A;
    --accent-color: #2196F3;
    --secondary-text-color: #212121;
    --logo-main-color: #000000;
    --logo-second-color: #ffffff;
}

body {
    background-color: var(--background-color-main);
    color: var(--primary-text-color);
}

/* Header Section */

.logo {
    color: var(--logo-main-color);
    text-decoration: none;
}

.logo-blue {
    color: var(--accent-color);
    text-decoration: none;
}

.logo-bottom {
    color: var(--logo-second-color);
    text-decoration: none;
}

.site-nav {
    color: var(--secondary-text-color);
}

.site-nav-link {
    text-decoration: none;
}

.site-nav-link.current {
    color: var(--accent-color);
}

.list {
    list-style: none;
}

.site-nav-link:hover,
.site-nav-link:focus,
.nav-contacts-link:hover,
.nav-contacts-link:focus,
.list-address:hover,
.list-address:focus,
.list-contacts:hover,
.list-contacts:focus {
    color: var(--accent-color);
}

.nav-contacts-link {
    color: inherit;
    text-decoration: none;
}

/* Main Section */

.hero,
.footer {
    background-color: var(--background-color-secondary);
}

.hero-title {
    color: var(--background-color-main);
}

.button.primary {
    background-color: var(--accent-color);
    color: var(--background-color-main);
}

.button.primary:hover,
.button.primary:focus {
    background-color: var(--background-color-main);
    color: var(--accent-color);
}

.section-details .title {
    color: var(--secondary-text-color);
}

.section-photo-title,
.section-team-title {
    color: var(--secondary-text-color);
}

.section-team .work {
    color: var(--secondary-text-color);
}

/* Footer */

.list-contacts {
    color: inherit;
    text-decoration: none;
}
.list-address {
    color: var(--background-color-main);
    text-decoration: none;
}


/* Portfolio */

.filters {
    background-color: var(--background-color-main);
    color: var(--secondary-text-color);
    list-style: none;
}

.filter.secondary {
    background-color: var(--background-color-main);
    color: var(--secondary-text-color);
    cursor: pointer;
}

.filter.secondary:hover,
.filter.secondary:focus {
    background-color: var(--accent-color);
    color: var(--background-color-main);
}

.products {
    color: var(--secondary-text-color);
}